@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  
  
}

div#container{
  background-color: #f2f4fc;
  margin: 10px 10px;

  
}
/* ------------------------------------------------------------------------ */
/* ------------------------------ START INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

#navbar{
display: grid;
grid-template-columns: repeat(6,2fr);

}

/* ------------------------------ Header ------------------------------ */
#header{
  display: flex;
 flex-direction: column;
 margin-bottom: 25px;

}
.Circle-logo{
  width: 9vh;
  margin-top: 15px;
  
}
#circle-header-logo{
  grid-column-start: 1;
  grid-column-end: 2;

}

.nav-menu{
  grid-column-start: 2;
  grid-column-end: 5;
  margin-top: 20px ;
  justify-self: center;
 
  
  
}
.nav-menu a{
  text-decoration: none;
  padding: 30px 7px 7px 7px;
  font-size: 1.6rem;
  justify-self: baseline;
  

}
#contact-btn{
  grid-column-start: 6;
  grid-column-end: 6;
  font-size: 7px;
  text-shadow:  0px -6px 17px #0000;
  margin: 6px auto;
  width: 10vh;
  height:5vh;
  background-color: #072ac8;
  text-align: center;
  padding: 15px 12px 10px 12px;
  border-radius: 5px;

  
}
#contact-btn a{
  color:#ffff;
  text-decoration: none;
  font-size: 1.6vh;

  
  
}
#content-btn1{
  color:#ffff;
  background-color: #072ac8;
  padding: 3px;
  border-radius: 4px;
}
.article p{
  font-size:0.5em ;
}
/* ------------------------------ Intro ------------------------------ */
.content-block{
  display: grid;
  grid-template-columns: repeat(6,2fr);
 
}
#content{
  grid-column-end: 1;
  grid-column-end: 2;
  border: 1px solid red
}

.hero{
  grid-column-end: 2;
  grid-column-end: 4;
  border: 1px solid red
}
.hero img{
  width:12vh;
 
}
/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */
.Project-Summary{
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  justify-content:space-around;
  align-content: space-between;
  align-items: center;
  justify-items:center;
  
 
}
.project img{
  justify-self: flex-start;
width: 15rem;



}
.project{
  background-color: #ffffff;
  font-size: 1em;
  padding:4px;
}

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

.testimonial-container {
  background-image: url("../Assets/Images/testimonial-section-20240516T114456Z-001/testimonial-section/orbit.png" );
  background-color: #292E47;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 35rem;
  margin: 0 auto  ;
  display: grid;
  grid-template-columns: repeat(6,2fr);
  grid-template-rows: 50px;
  row-gap: 25px;

  

  
}
.img-size {
  width: 20px;
}
div.tetimonial-emoji1 {
grid-column-start: 1;

justify-self: left;



}
.Client-testimonial-head{
  color:#ffff;

  font-size: 7px;
  grid-column-start: 2;
grid-column-end: 5;
text-align: center;
align-self: center;


}
.tetimonial-emoji2 {
  grid-column-start: 6;
justify-self: right;

}




.Client-testimonial  {
  
  grid-column-start: 2;
grid-column-end: 5;
  align-self: center;
  font-size: 6px;
  text-align: center;
  color:#FFC600

  

 
  
  
}
.tetimonial-emoji3{


grid-column-start: 1;
grid-column-end: 3;
align-self: left;
  
  }
  .tetimonial-profile {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
   color:#ffff
    
  }
  .tetimonial-profile p{
    color:white;
    font-size: 2px;
  }
.tetimonial-profile h5{
  
  font-size: 3px;
 color: #A2D6F9;
    width: 60%;
    margin: 2px;

  }
  .tetimonial-profile img {
  justify-self: center;
    align-self: center;
    width: 7vh;
    border-radius: 60%;
    grid-column-start: 3;
    grid-column-end: 5;
    
  
  }
  
.tetimonial-emoji5 {

  grid-column-start: 6;
  grid-column-end: 6;

align-self: right;
text-align:end


  
  }
 
/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------------------------------------------------ */
/* ------------------------------ END INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* -------- */
/* -------- */
/* -------- */
/* -------- */

/* -------------------------------------------------------------------------- */
/* ------------------------------ START PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ END PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* -------- */
/* -------- */
/* -------- */
/* -------- */

/* ----------------------------------------------------------------------------- */
/* ------------------------------  START CONTACT html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------  END CONTACT html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* -------- */
/* -------- */
/* -------- */
/* -------- */

/* --------------------------------------------------------------------------- */
/* ------------------------------ START MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ END MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* -------- */
/* -------- */
/* -------- */
/* -------- */